<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="NeoTec - AI-сервис генерации стартап-идеи"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <title>NeoTec - AI-сервис генерации стартап-идеи</title>
    <script defer="defer" src="/static/js/main.69dcb384.js"></script>
    <link href="/static/css/main.af44d2e9.css" rel="stylesheet">
</head>
<body>
<div id="root"></div>
<div id="modal"></div>
</body>
</html>